<h1>Edit Picture</h1>

<p>
  <%= link_to("Back", "/pictures/#{@most_recent_pictures.id}") %>
</p>

<%= form_for(@most_recent_pictures, url: "/pictures/#{@most_recent_pictures.id}") do |f| %>
  <p>
    <%= f.label :artist %><br>
    <%= f.text_field :artist %>
  </p>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
